{% if showComponent %}
  <div {% if anchorId %}id="{{ anchorId }}"{% endif %} class="friendation {% if backgroundColorEnable %}{{ backgroundColor}} componentPadding{% else %}componentSpacing{% endif %}" is="<%= componentSlug %>">
    <h2>This is <%= componentType %><%= componentName %></h2>
  </div>
{% endif %}
